// home.less
// -----------------------------------------------------------------

.homepage {
  section {
    .section-title {
      font-size: 14px;
      color: @green;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3px;
      margin: 0 0 10px;
      &:after {
        content: '';
        background-image: url('/assets/logo-mark-green.svg');
        width: 20px;
        height: 20px;
        background-size: 20px;
        margin-left: 8px;
      }
    }
    .section-statement {
      font-size: 60px;
      font-family: @font-family-serif;
      font-weight: 500;
    }
  }
  .home-hero {
    background-color: #666;
    background-image: url('/assets/hero-bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    height: 750px;
    border-bottom: 4px solid @text-color;
    position: relative;
    h2 {
      color: #fff;
      font-family: @font-family-serif;
      font-size: 60px;
      margin: 0;
      line-height: 1em;
      position: absolute;
      bottom: 100px;
      left: 50%;
      margin-left: -425px;
      text-align: center;
      width: 850px;
      font-weight: 500;
    }
  }
  .home-who {
    padding: 75px 0;
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {}

// Up to landscape phone
@media (max-width: 480px) {}



// Includes
// --------------------------------------------------