// site-header.less
// -----------------------------------------------------------------

body {
  border-top: 4px solid #68B833;
}
.site-header {
  margin-bottom: 80px;
  .navbar-header {
    margin-bottom: 0;
    .navbar-brand {
      padding: 22px 30px 22px 15px;
      .site-logo {
        background-image: url('/assets/site-logo.svg');
        display: inline-block;
        width: 319px;
        height: 51px;
        background-size: 319px;
        background-repeat: no-repeat;
      }
    }
    .site-phone {
      font-size: 14px;
      line-height: 95px;
      float: left;
      &:before {
        content: '';
        background-image: url('/assets/icon-phone-orange.svg');
        width: 17px;
        height: 17px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
  .navbar-collapse {
    .navbar-nav {
      & > li {
        a {
          font-weight: 600;
        }
      }
      li:nth-child(4) {
        a {
          &:before {
            content: '';
            display: inline-block;
            background-image: url('assets/icon-lock-green.svg');
            width: 9px;
            height: 12px;
            margin-right: 8px;
            vertical-align: middle;
          }
        }
      }
      .contact-us {
        height: 95px;
        line-height: 95px;
        padding: 27px 0 27px 15px;
        a {
          border: 1px solid #599b2c;
          line-height: 38px;
          padding: 0 10px;
        }
        &.active {
          a {
            border-color: @text-color;
          }
        }
      }
    }
  }
}


// Media Queries
// --------------------------------------------------


// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {}

// Up to landscape phone
@media (max-width: 480px) {}