// contact-callout.less
// -----------------------------------------------------------------

.contact-callout {
  background: #f8e5dc;
  border-radius: 8px;
  .callout-left {
    padding: 30px;
    float: left;
    width: 80%;
  }
  .callout-right {
    padding: 15px;
    float: left;
    width: 20%;
  }
}