// contact-callout.less
// -----------------------------------------------------------------

.contact-callout {
  background: #f8e5dc;
  border-radius: 8px;
  color: #593C2E;
  font-size: 24px;
  margin-bottom: 60px;
  .clearfix();
  .callout-left {
    padding: 0 30px;
    line-height: 100px;
    float: left;
    width: 75%;
  }
  .callout-right {
    padding: 15px 15px 10px 15px;
    float: left;
    width: 25%;
    text-align: center;
    .btn-callout {
      width: 100%;
    }
    .callout-phone {
      font-size: 14px;
      line-height: 1em;
      &:before {
        content: '';
        background-image: url('/assets/icon-phone-orange.svg');
        width: 17px;
        height: 17px;
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
}

.contact-callout-sidebar {
  padding: 30px 30px 25px;
  text-align: center;
  font-size: 21px;
  .callout-top {
    line-height: 1.25em;
    margin-bottom: 30px;
  }
  .callout-bottom {
    text-align: center;
    .btn-callout {
      width: 100%;
    }
    .callout-phone {
      font-size: 14px;
      line-height: 1em;
      &:before {
        content: '';
        background-image: url('/assets/icon-phone-orange.svg');
        width: 17px;
        height: 17px;
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
}